
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

block header
  include author
  .title-with-image
    h1= page.title
  .article-meta    
    if page.date
      p.publish-date= moment.utc(page.date).format('MMMM DD, YYYY')
    if page.metadata.tags && page.metadata.tags.length > 0
      .tags
        each tag in page.metadata.tags
          span.tag= tag

block content
  article.article(class=page.metadata.heroImage ? 'has-hero' : '')
    section.content
      if page.metadata.heroImage
        img.hero-image(src=page.metadata.heroImage alt=page.title)
      != page.html

block prepend footer
  div.nav
    a(href=contents.index.url) &laquo; Full blog
