
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

block header
  include author
  .title-with-image
    h1= page.title
  .article-meta
    p.author
      | Written by&nbsp;
      +author(page.metadata.author)
    if page.date
      p.publish-date= moment.utc(page.date).format('MMMM DD, YYYY')
    if page.metadata.tags && page.metadata.tags.length > 0
      .tags
        each tag in page.metadata.tags
          span.tag= tag

block content
  article.article(data-has-hero=page.metadata.heroImage ? 'true' : false style=page.metadata.heroImage ? `background-image: url(${page.metadata.heroImage})` : '')
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href=contents.index.url) &laquo; Full blog
